.content {
  width: 100%;
  height: 70px;
  background-color: #d5d4d0;

  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 144px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: bold;
  flex-shrink: 0;
  margin-top: 12%;
}
