.container {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
}

h2 {
  color: #262626;
  letter-spacing: 0px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Regular;
  font-size: 24px;
  text-align: left;
  margin-top: 48px;
  margin-left: 48px;
}

.list {
  margin-left: 18px;
}
